body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-column {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #eee;
}

.right-column {
    width: 70%;
    height: 100%;
    float: right;
}

.image-container .image {
    max-width: 100%;
}

@media only screen and (min-width: 480px) {
    /* mobile */
}

@media only screen and (min-width: 768px) {
    /* portrait tablet */
}

@media only screen and (min-width: 992px) {
    /* landscape tablet, laptop */
}

@media only screen and (min-width: 1382px) {
    /* desktop, TV */
}